<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot.dao.AdvancedAgeRetirementReemploymentPlanMapper" >
  <resultMap id="BaseResultMap" type="com.example.springboot.entity.AdvancedAgeRetirementReemploymentPlan" >
    <id column="advanced_age_retirement_reemployment_apply_id" property="advancedAgeRetirementReemploymentApplyId" jdbcType="INTEGER" />
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="work_content" property="workContent" jdbcType="VARCHAR" />
    <result column="friendly_measures" property="friendlyMeasures" jdbcType="VARCHAR" />
    <result column="employee_number" property="employeeNumber" jdbcType="INTEGER" />
    <result column="beneficiary_number" property="beneficiaryNumber" jdbcType="INTEGER" />
    <result column="subsidy_type" property="subsidyType" jdbcType="INTEGER" />
    <result column="amounts" property="amounts" jdbcType="INTEGER" />
    <result column="multiple_applications" property="multipleApplications" jdbcType="CHAR" />
    <result column="multiple_applications_description" property="multipleApplicationsDescription" jdbcType="VARCHAR" />
    <result column="apply_same_year" property="applySameYear" jdbcType="CHAR" />
    <result column="apply_same_year_description" property="applySameYearDescription" jdbcType="VARCHAR" />
    <result column="plan_goal" property="planGoal" jdbcType="VARCHAR" />
    <result column="plan_content" property="planContent" jdbcType="VARCHAR" />
    <result column="plan_start_time" property="planStartTime" jdbcType="VARCHAR" />
    <result column="plan_end_time" property="planEndTime" jdbcType="VARCHAR" />
    <result column="execution_city" property="executionCity" jdbcType="VARCHAR" />
    <result column="quality_benefit" property="qualityBenefit" jdbcType="VARCHAR" />
    <result column="quantify_benefit" property="quantifyBenefit" jdbcType="VARCHAR" />
    <result column="plan_execution_situation" property="planExecutionSituation" jdbcType="VARCHAR" />
    <result column="attach_benefit_list" property="attachBenefitList" jdbcType="CHAR" />
    <result column="attach_expenditure" property="attachExpenditure" jdbcType="CHAR" />
    <result column="attach_basic_data" property="attachBasicData" jdbcType="CHAR" />
    <result column="other_attachment" property="otherAttachment" jdbcType="VARCHAR" />
    <result column="has_joint_unit" property="hasJointUnit" jdbcType="CHAR" />
    <result column="execution_city_address" property="executionCityAddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    advanced_age_retirement_reemployment_apply_id, id, work_content, friendly_measures, 
    employee_number, beneficiary_number, subsidy_type, amounts, multiple_applications, 
    multiple_applications_description, apply_same_year, apply_same_year_description, 
    plan_goal, plan_content, plan_start_time, plan_end_time, execution_city, quality_benefit, 
    quantify_benefit, plan_execution_situation, attach_benefit_list, attach_expenditure, 
    attach_basic_data, other_attachment, has_joint_unit, execution_city_address
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentPlanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from advancedAgeRetirementReemploymentPlan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from advancedAgeRetirementReemploymentPlan
    where advanced_age_retirement_reemployment_apply_id = #{advancedAgeRetirementReemploymentApplyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from advancedAgeRetirementReemploymentPlan
    where advanced_age_retirement_reemployment_apply_id = #{advancedAgeRetirementReemploymentApplyId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentPlanExample" >
    delete from advancedAgeRetirementReemploymentPlan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentPlan" >
    insert into advancedAgeRetirementReemploymentPlan (advanced_age_retirement_reemployment_apply_id, id, 
      work_content, friendly_measures, employee_number, 
      beneficiary_number, subsidy_type, amounts, 
      multiple_applications, multiple_applications_description, 
      apply_same_year, apply_same_year_description, plan_goal, 
      plan_content, plan_start_time, plan_end_time, 
      execution_city, quality_benefit, quantify_benefit, 
      plan_execution_situation, attach_benefit_list, 
      attach_expenditure, attach_basic_data, other_attachment, 
      has_joint_unit, execution_city_address)
    values (#{advancedAgeRetirementReemploymentApplyId,jdbcType=INTEGER}, #{id,jdbcType=INTEGER}, 
      #{workContent,jdbcType=VARCHAR}, #{friendlyMeasures,jdbcType=VARCHAR}, #{employeeNumber,jdbcType=INTEGER}, 
      #{beneficiaryNumber,jdbcType=INTEGER}, #{subsidyType,jdbcType=INTEGER}, #{amounts,jdbcType=INTEGER}, 
      #{multipleApplications,jdbcType=CHAR}, #{multipleApplicationsDescription,jdbcType=VARCHAR}, 
      #{applySameYear,jdbcType=CHAR}, #{applySameYearDescription,jdbcType=VARCHAR}, #{planGoal,jdbcType=VARCHAR}, 
      #{planContent,jdbcType=VARCHAR}, #{planStartTime,jdbcType=VARCHAR}, #{planEndTime,jdbcType=VARCHAR}, 
      #{executionCity,jdbcType=VARCHAR}, #{qualityBenefit,jdbcType=VARCHAR}, #{quantifyBenefit,jdbcType=VARCHAR}, 
      #{planExecutionSituation,jdbcType=VARCHAR}, #{attachBenefitList,jdbcType=CHAR}, 
      #{attachExpenditure,jdbcType=CHAR}, #{attachBasicData,jdbcType=CHAR}, #{otherAttachment,jdbcType=VARCHAR}, 
      #{hasJointUnit,jdbcType=CHAR}, #{executionCityAddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentPlan" >
    insert into advancedAgeRetirementReemploymentPlan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="advancedAgeRetirementReemploymentApplyId != null" >
        advanced_age_retirement_reemployment_apply_id,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="workContent != null" >
        work_content,
      </if>
      <if test="friendlyMeasures != null" >
        friendly_measures,
      </if>
      <if test="employeeNumber != null" >
        employee_number,
      </if>
      <if test="beneficiaryNumber != null" >
        beneficiary_number,
      </if>
      <if test="subsidyType != null" >
        subsidy_type,
      </if>
      <if test="amounts != null" >
        amounts,
      </if>
      <if test="multipleApplications != null" >
        multiple_applications,
      </if>
      <if test="multipleApplicationsDescription != null" >
        multiple_applications_description,
      </if>
      <if test="applySameYear != null" >
        apply_same_year,
      </if>
      <if test="applySameYearDescription != null" >
        apply_same_year_description,
      </if>
      <if test="planGoal != null" >
        plan_goal,
      </if>
      <if test="planContent != null" >
        plan_content,
      </if>
      <if test="planStartTime != null" >
        plan_start_time,
      </if>
      <if test="planEndTime != null" >
        plan_end_time,
      </if>
      <if test="executionCity != null" >
        execution_city,
      </if>
      <if test="qualityBenefit != null" >
        quality_benefit,
      </if>
      <if test="quantifyBenefit != null" >
        quantify_benefit,
      </if>
      <if test="planExecutionSituation != null" >
        plan_execution_situation,
      </if>
      <if test="attachBenefitList != null" >
        attach_benefit_list,
      </if>
      <if test="attachExpenditure != null" >
        attach_expenditure,
      </if>
      <if test="attachBasicData != null" >
        attach_basic_data,
      </if>
      <if test="otherAttachment != null" >
        other_attachment,
      </if>
      <if test="hasJointUnit != null" >
        has_joint_unit,
      </if>
      <if test="executionCityAddress != null" >
        execution_city_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="advancedAgeRetirementReemploymentApplyId != null" >
        #{advancedAgeRetirementReemploymentApplyId,jdbcType=INTEGER},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="workContent != null" >
        #{workContent,jdbcType=VARCHAR},
      </if>
      <if test="friendlyMeasures != null" >
        #{friendlyMeasures,jdbcType=VARCHAR},
      </if>
      <if test="employeeNumber != null" >
        #{employeeNumber,jdbcType=INTEGER},
      </if>
      <if test="beneficiaryNumber != null" >
        #{beneficiaryNumber,jdbcType=INTEGER},
      </if>
      <if test="subsidyType != null" >
        #{subsidyType,jdbcType=INTEGER},
      </if>
      <if test="amounts != null" >
        #{amounts,jdbcType=INTEGER},
      </if>
      <if test="multipleApplications != null" >
        #{multipleApplications,jdbcType=CHAR},
      </if>
      <if test="multipleApplicationsDescription != null" >
        #{multipleApplicationsDescription,jdbcType=VARCHAR},
      </if>
      <if test="applySameYear != null" >
        #{applySameYear,jdbcType=CHAR},
      </if>
      <if test="applySameYearDescription != null" >
        #{applySameYearDescription,jdbcType=VARCHAR},
      </if>
      <if test="planGoal != null" >
        #{planGoal,jdbcType=VARCHAR},
      </if>
      <if test="planContent != null" >
        #{planContent,jdbcType=VARCHAR},
      </if>
      <if test="planStartTime != null" >
        #{planStartTime,jdbcType=VARCHAR},
      </if>
      <if test="planEndTime != null" >
        #{planEndTime,jdbcType=VARCHAR},
      </if>
      <if test="executionCity != null" >
        #{executionCity,jdbcType=VARCHAR},
      </if>
      <if test="qualityBenefit != null" >
        #{qualityBenefit,jdbcType=VARCHAR},
      </if>
      <if test="quantifyBenefit != null" >
        #{quantifyBenefit,jdbcType=VARCHAR},
      </if>
      <if test="planExecutionSituation != null" >
        #{planExecutionSituation,jdbcType=VARCHAR},
      </if>
      <if test="attachBenefitList != null" >
        #{attachBenefitList,jdbcType=CHAR},
      </if>
      <if test="attachExpenditure != null" >
        #{attachExpenditure,jdbcType=CHAR},
      </if>
      <if test="attachBasicData != null" >
        #{attachBasicData,jdbcType=CHAR},
      </if>
      <if test="otherAttachment != null" >
        #{otherAttachment,jdbcType=VARCHAR},
      </if>
      <if test="hasJointUnit != null" >
        #{hasJointUnit,jdbcType=CHAR},
      </if>
      <if test="executionCityAddress != null" >
        #{executionCityAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentPlanExample" resultType="java.lang.Integer" >
    select count(*) from advancedAgeRetirementReemploymentPlan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update advancedAgeRetirementReemploymentPlan
    <set >
      <if test="record.advancedAgeRetirementReemploymentApplyId != null" >
        advanced_age_retirement_reemployment_apply_id = #{record.advancedAgeRetirementReemploymentApplyId,jdbcType=INTEGER},
      </if>
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.workContent != null" >
        work_content = #{record.workContent,jdbcType=VARCHAR},
      </if>
      <if test="record.friendlyMeasures != null" >
        friendly_measures = #{record.friendlyMeasures,jdbcType=VARCHAR},
      </if>
      <if test="record.employeeNumber != null" >
        employee_number = #{record.employeeNumber,jdbcType=INTEGER},
      </if>
      <if test="record.beneficiaryNumber != null" >
        beneficiary_number = #{record.beneficiaryNumber,jdbcType=INTEGER},
      </if>
      <if test="record.subsidyType != null" >
        subsidy_type = #{record.subsidyType,jdbcType=INTEGER},
      </if>
      <if test="record.amounts != null" >
        amounts = #{record.amounts,jdbcType=INTEGER},
      </if>
      <if test="record.multipleApplications != null" >
        multiple_applications = #{record.multipleApplications,jdbcType=CHAR},
      </if>
      <if test="record.multipleApplicationsDescription != null" >
        multiple_applications_description = #{record.multipleApplicationsDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.applySameYear != null" >
        apply_same_year = #{record.applySameYear,jdbcType=CHAR},
      </if>
      <if test="record.applySameYearDescription != null" >
        apply_same_year_description = #{record.applySameYearDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.planGoal != null" >
        plan_goal = #{record.planGoal,jdbcType=VARCHAR},
      </if>
      <if test="record.planContent != null" >
        plan_content = #{record.planContent,jdbcType=VARCHAR},
      </if>
      <if test="record.planStartTime != null" >
        plan_start_time = #{record.planStartTime,jdbcType=VARCHAR},
      </if>
      <if test="record.planEndTime != null" >
        plan_end_time = #{record.planEndTime,jdbcType=VARCHAR},
      </if>
      <if test="record.executionCity != null" >
        execution_city = #{record.executionCity,jdbcType=VARCHAR},
      </if>
      <if test="record.qualityBenefit != null" >
        quality_benefit = #{record.qualityBenefit,jdbcType=VARCHAR},
      </if>
      <if test="record.quantifyBenefit != null" >
        quantify_benefit = #{record.quantifyBenefit,jdbcType=VARCHAR},
      </if>
      <if test="record.planExecutionSituation != null" >
        plan_execution_situation = #{record.planExecutionSituation,jdbcType=VARCHAR},
      </if>
      <if test="record.attachBenefitList != null" >
        attach_benefit_list = #{record.attachBenefitList,jdbcType=CHAR},
      </if>
      <if test="record.attachExpenditure != null" >
        attach_expenditure = #{record.attachExpenditure,jdbcType=CHAR},
      </if>
      <if test="record.attachBasicData != null" >
        attach_basic_data = #{record.attachBasicData,jdbcType=CHAR},
      </if>
      <if test="record.otherAttachment != null" >
        other_attachment = #{record.otherAttachment,jdbcType=VARCHAR},
      </if>
      <if test="record.hasJointUnit != null" >
        has_joint_unit = #{record.hasJointUnit,jdbcType=CHAR},
      </if>
      <if test="record.executionCityAddress != null" >
        execution_city_address = #{record.executionCityAddress,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update advancedAgeRetirementReemploymentPlan
    set advanced_age_retirement_reemployment_apply_id = #{record.advancedAgeRetirementReemploymentApplyId,jdbcType=INTEGER},
      id = #{record.id,jdbcType=INTEGER},
      work_content = #{record.workContent,jdbcType=VARCHAR},
      friendly_measures = #{record.friendlyMeasures,jdbcType=VARCHAR},
      employee_number = #{record.employeeNumber,jdbcType=INTEGER},
      beneficiary_number = #{record.beneficiaryNumber,jdbcType=INTEGER},
      subsidy_type = #{record.subsidyType,jdbcType=INTEGER},
      amounts = #{record.amounts,jdbcType=INTEGER},
      multiple_applications = #{record.multipleApplications,jdbcType=CHAR},
      multiple_applications_description = #{record.multipleApplicationsDescription,jdbcType=VARCHAR},
      apply_same_year = #{record.applySameYear,jdbcType=CHAR},
      apply_same_year_description = #{record.applySameYearDescription,jdbcType=VARCHAR},
      plan_goal = #{record.planGoal,jdbcType=VARCHAR},
      plan_content = #{record.planContent,jdbcType=VARCHAR},
      plan_start_time = #{record.planStartTime,jdbcType=VARCHAR},
      plan_end_time = #{record.planEndTime,jdbcType=VARCHAR},
      execution_city = #{record.executionCity,jdbcType=VARCHAR},
      quality_benefit = #{record.qualityBenefit,jdbcType=VARCHAR},
      quantify_benefit = #{record.quantifyBenefit,jdbcType=VARCHAR},
      plan_execution_situation = #{record.planExecutionSituation,jdbcType=VARCHAR},
      attach_benefit_list = #{record.attachBenefitList,jdbcType=CHAR},
      attach_expenditure = #{record.attachExpenditure,jdbcType=CHAR},
      attach_basic_data = #{record.attachBasicData,jdbcType=CHAR},
      other_attachment = #{record.otherAttachment,jdbcType=VARCHAR},
      has_joint_unit = #{record.hasJointUnit,jdbcType=CHAR},
      execution_city_address = #{record.executionCityAddress,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentPlan" >
    update advancedAgeRetirementReemploymentPlan
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="workContent != null" >
        work_content = #{workContent,jdbcType=VARCHAR},
      </if>
      <if test="friendlyMeasures != null" >
        friendly_measures = #{friendlyMeasures,jdbcType=VARCHAR},
      </if>
      <if test="employeeNumber != null" >
        employee_number = #{employeeNumber,jdbcType=INTEGER},
      </if>
      <if test="beneficiaryNumber != null" >
        beneficiary_number = #{beneficiaryNumber,jdbcType=INTEGER},
      </if>
      <if test="subsidyType != null" >
        subsidy_type = #{subsidyType,jdbcType=INTEGER},
      </if>
      <if test="amounts != null" >
        amounts = #{amounts,jdbcType=INTEGER},
      </if>
      <if test="multipleApplications != null" >
        multiple_applications = #{multipleApplications,jdbcType=CHAR},
      </if>
      <if test="multipleApplicationsDescription != null" >
        multiple_applications_description = #{multipleApplicationsDescription,jdbcType=VARCHAR},
      </if>
      <if test="applySameYear != null" >
        apply_same_year = #{applySameYear,jdbcType=CHAR},
      </if>
      <if test="applySameYearDescription != null" >
        apply_same_year_description = #{applySameYearDescription,jdbcType=VARCHAR},
      </if>
      <if test="planGoal != null" >
        plan_goal = #{planGoal,jdbcType=VARCHAR},
      </if>
      <if test="planContent != null" >
        plan_content = #{planContent,jdbcType=VARCHAR},
      </if>
      <if test="planStartTime != null" >
        plan_start_time = #{planStartTime,jdbcType=VARCHAR},
      </if>
      <if test="planEndTime != null" >
        plan_end_time = #{planEndTime,jdbcType=VARCHAR},
      </if>
      <if test="executionCity != null" >
        execution_city = #{executionCity,jdbcType=VARCHAR},
      </if>
      <if test="qualityBenefit != null" >
        quality_benefit = #{qualityBenefit,jdbcType=VARCHAR},
      </if>
      <if test="quantifyBenefit != null" >
        quantify_benefit = #{quantifyBenefit,jdbcType=VARCHAR},
      </if>
      <if test="planExecutionSituation != null" >
        plan_execution_situation = #{planExecutionSituation,jdbcType=VARCHAR},
      </if>
      <if test="attachBenefitList != null" >
        attach_benefit_list = #{attachBenefitList,jdbcType=CHAR},
      </if>
      <if test="attachExpenditure != null" >
        attach_expenditure = #{attachExpenditure,jdbcType=CHAR},
      </if>
      <if test="attachBasicData != null" >
        attach_basic_data = #{attachBasicData,jdbcType=CHAR},
      </if>
      <if test="otherAttachment != null" >
        other_attachment = #{otherAttachment,jdbcType=VARCHAR},
      </if>
      <if test="hasJointUnit != null" >
        has_joint_unit = #{hasJointUnit,jdbcType=CHAR},
      </if>
      <if test="executionCityAddress != null" >
        execution_city_address = #{executionCityAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where advanced_age_retirement_reemployment_apply_id = #{advancedAgeRetirementReemploymentApplyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentPlan" >
    update advancedAgeRetirementReemploymentPlan
    set id = #{id,jdbcType=INTEGER},
      work_content = #{workContent,jdbcType=VARCHAR},
      friendly_measures = #{friendlyMeasures,jdbcType=VARCHAR},
      employee_number = #{employeeNumber,jdbcType=INTEGER},
      beneficiary_number = #{beneficiaryNumber,jdbcType=INTEGER},
      subsidy_type = #{subsidyType,jdbcType=INTEGER},
      amounts = #{amounts,jdbcType=INTEGER},
      multiple_applications = #{multipleApplications,jdbcType=CHAR},
      multiple_applications_description = #{multipleApplicationsDescription,jdbcType=VARCHAR},
      apply_same_year = #{applySameYear,jdbcType=CHAR},
      apply_same_year_description = #{applySameYearDescription,jdbcType=VARCHAR},
      plan_goal = #{planGoal,jdbcType=VARCHAR},
      plan_content = #{planContent,jdbcType=VARCHAR},
      plan_start_time = #{planStartTime,jdbcType=VARCHAR},
      plan_end_time = #{planEndTime,jdbcType=VARCHAR},
      execution_city = #{executionCity,jdbcType=VARCHAR},
      quality_benefit = #{qualityBenefit,jdbcType=VARCHAR},
      quantify_benefit = #{quantifyBenefit,jdbcType=VARCHAR},
      plan_execution_situation = #{planExecutionSituation,jdbcType=VARCHAR},
      attach_benefit_list = #{attachBenefitList,jdbcType=CHAR},
      attach_expenditure = #{attachExpenditure,jdbcType=CHAR},
      attach_basic_data = #{attachBasicData,jdbcType=CHAR},
      other_attachment = #{otherAttachment,jdbcType=VARCHAR},
      has_joint_unit = #{hasJointUnit,jdbcType=CHAR},
      execution_city_address = #{executionCityAddress,jdbcType=VARCHAR}
    where advanced_age_retirement_reemployment_apply_id = #{advancedAgeRetirementReemploymentApplyId,jdbcType=INTEGER}
  </update>
</mapper>