<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot.dao.AdvancedAgeRetirementReemploymentApplyMapper" >
  <resultMap id="BaseResultMap" type="com.example.springboot.entity.AdvancedAgeRetirementReemploymentApply" >
    <id column="seq" property="seq" jdbcType="VARCHAR" />
    <id column="apply_year" property="applyYear" jdbcType="VARCHAR" />
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="assistance_measures_1" property="assistanceMeasures1" jdbcType="CHAR" />
    <result column="assistance_measures_2" property="assistanceMeasures2" jdbcType="CHAR" />
    <result column="assistance_measures_3" property="assistanceMeasures3" jdbcType="CHAR" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="guarantee_number" property="guaranteeNumber" jdbcType="VARCHAR" />
    <result column="principal" property="principal" jdbcType="VARCHAR" />
    <result column="jobtitle" property="jobtitle" jdbcType="VARCHAR" />
    <result column="contact_city" property="contactCity" jdbcType="VARCHAR" />
    <result column="contact_area" property="contactArea" jdbcType="VARCHAR" />
    <result column="contact_address" property="contactAddress" jdbcType="VARCHAR" />
    <result column="employee_number" property="employeeNumber" jdbcType="INTEGER" />
    <result column="benefit_number" property="benefitNumber" jdbcType="INTEGER" />
    <result column="company_attributes" property="companyAttributes" jdbcType="CHAR" />
    <result column="industry" property="industry" jdbcType="CHAR" />
    <result column="contact_name" property="contactName" jdbcType="VARCHAR" />
    <result column="contact_jobtitle" property="contactJobtitle" jdbcType="VARCHAR" />
    <result column="contact_work_phone_area_code" property="contactWorkPhoneAreaCode" jdbcType="VARCHAR" />
    <result column="contact_work_phone" property="contactWorkPhone" jdbcType="VARCHAR" />
    <result column="contact_work_phone_extension" property="contactWorkPhoneExtension" jdbcType="VARCHAR" />
    <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="amounts" property="amounts" jdbcType="INTEGER" />
    <result column="apply_many_government" property="applyManyGovernment" jdbcType="CHAR" />
    <result column="apply_many_government_year" property="applyManyGovernmentYear" jdbcType="VARCHAR" />
    <result column="apply_many_government_plan_name" property="applyManyGovernmentPlanName" jdbcType="VARCHAR" />
    <result column="apply_many_government_amounts" property="applyManyGovernmentAmounts" jdbcType="INTEGER" />
    <result column="repeat_apply" property="repeatApply" jdbcType="CHAR" />
    <result column="repeat_apply_year" property="repeatApplyYear" jdbcType="VARCHAR" />
    <result column="repeat_apply_amounts" property="repeatApplyAmounts" jdbcType="INTEGER" />
    <result column="attach_documents_apply" property="attachDocumentsApply" jdbcType="CHAR" />
    <result column="attach_documents_plan" property="attachDocumentsPlan" jdbcType="CHAR" />
    <result column="attach_documents_expenditure" property="attachDocumentsExpenditure" jdbcType="CHAR" />
    <result column="attach_documents_register_proof" property="attachDocumentsRegisterProof" jdbcType="CHAR" />
    <result column="joint_authorize_basic_data" property="jointAuthorizeBasicData" jdbcType="CHAR" />
    <result column="attach_documents_other_proof" property="attachDocumentsOtherProof" jdbcType="CHAR" />
    <result column="attach_documents_other_proof_document" property="attachDocumentsOtherProofDocument" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="agree" property="agree" jdbcType="CHAR" />
    <result column="filler" property="filler" jdbcType="VARCHAR" />
    <result column="applicant" property="applicant" jdbcType="VARCHAR" />
    <result column="updator" property="updator" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    seq, apply_year, id, assistance_measures_1, assistance_measures_2, assistance_measures_3, 
    company_name, guarantee_number, principal, jobtitle, contact_city, contact_area, 
    contact_address, employee_number, benefit_number, company_attributes, industry, contact_name, 
    contact_jobtitle, contact_work_phone_area_code, contact_work_phone, contact_work_phone_extension, 
    contact_phone, email, amounts, apply_many_government, apply_many_government_year, 
    apply_many_government_plan_name, apply_many_government_amounts, repeat_apply, repeat_apply_year, 
    repeat_apply_amounts, attach_documents_apply, attach_documents_plan, attach_documents_expenditure, 
    attach_documents_register_proof, joint_authorize_basic_data, attach_documents_other_proof, 
    attach_documents_other_proof_document, create_time, agree, filler, applicant, updator, 
    update_time, remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentApplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from advancedAgeRetirementReemploymentApply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentApplyKey" >
    select 
    <include refid="Base_Column_List" />
    from advancedAgeRetirementReemploymentApply
    where seq = #{seq,jdbcType=VARCHAR}
      and apply_year = #{applyYear,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentApplyKey" >
    delete from advancedAgeRetirementReemploymentApply
    where seq = #{seq,jdbcType=VARCHAR}
      and apply_year = #{applyYear,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentApplyExample" >
    delete from advancedAgeRetirementReemploymentApply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentApply" >
    insert into advancedAgeRetirementReemploymentApply (seq, apply_year, id, 
      assistance_measures_1, assistance_measures_2, assistance_measures_3, 
      company_name, guarantee_number, principal, 
      jobtitle, contact_city, contact_area, 
      contact_address, employee_number, benefit_number, 
      company_attributes, industry, contact_name, 
      contact_jobtitle, contact_work_phone_area_code, 
      contact_work_phone, contact_work_phone_extension, 
      contact_phone, email, amounts, 
      apply_many_government, apply_many_government_year, 
      apply_many_government_plan_name, apply_many_government_amounts, 
      repeat_apply, repeat_apply_year, repeat_apply_amounts, 
      attach_documents_apply, attach_documents_plan, attach_documents_expenditure, 
      attach_documents_register_proof, joint_authorize_basic_data, 
      attach_documents_other_proof, attach_documents_other_proof_document, 
      create_time, agree, filler, 
      applicant, updator, update_time, 
      remark)
    values (#{seq,jdbcType=VARCHAR}, #{applyYear,jdbcType=VARCHAR}, #{id,jdbcType=INTEGER}, 
      #{assistanceMeasures1,jdbcType=CHAR}, #{assistanceMeasures2,jdbcType=CHAR}, #{assistanceMeasures3,jdbcType=CHAR}, 
      #{companyName,jdbcType=VARCHAR}, #{guaranteeNumber,jdbcType=VARCHAR}, #{principal,jdbcType=VARCHAR}, 
      #{jobtitle,jdbcType=VARCHAR}, #{contactCity,jdbcType=VARCHAR}, #{contactArea,jdbcType=VARCHAR}, 
      #{contactAddress,jdbcType=VARCHAR}, #{employeeNumber,jdbcType=INTEGER}, #{benefitNumber,jdbcType=INTEGER}, 
      #{companyAttributes,jdbcType=CHAR}, #{industry,jdbcType=CHAR}, #{contactName,jdbcType=VARCHAR}, 
      #{contactJobtitle,jdbcType=VARCHAR}, #{contactWorkPhoneAreaCode,jdbcType=VARCHAR}, 
      #{contactWorkPhone,jdbcType=VARCHAR}, #{contactWorkPhoneExtension,jdbcType=VARCHAR}, 
      #{contactPhone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{amounts,jdbcType=INTEGER}, 
      #{applyManyGovernment,jdbcType=CHAR}, #{applyManyGovernmentYear,jdbcType=VARCHAR}, 
      #{applyManyGovernmentPlanName,jdbcType=VARCHAR}, #{applyManyGovernmentAmounts,jdbcType=INTEGER}, 
      #{repeatApply,jdbcType=CHAR}, #{repeatApplyYear,jdbcType=VARCHAR}, #{repeatApplyAmounts,jdbcType=INTEGER}, 
      #{attachDocumentsApply,jdbcType=CHAR}, #{attachDocumentsPlan,jdbcType=CHAR}, #{attachDocumentsExpenditure,jdbcType=CHAR}, 
      #{attachDocumentsRegisterProof,jdbcType=CHAR}, #{jointAuthorizeBasicData,jdbcType=CHAR}, 
      #{attachDocumentsOtherProof,jdbcType=CHAR}, #{attachDocumentsOtherProofDocument,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{agree,jdbcType=CHAR}, #{filler,jdbcType=VARCHAR}, 
      #{applicant,jdbcType=VARCHAR}, #{updator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentApply" >
    insert into advancedAgeRetirementReemploymentApply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="seq != null" >
        seq,
      </if>
      <if test="applyYear != null" >
        apply_year,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="assistanceMeasures1 != null" >
        assistance_measures_1,
      </if>
      <if test="assistanceMeasures2 != null" >
        assistance_measures_2,
      </if>
      <if test="assistanceMeasures3 != null" >
        assistance_measures_3,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="guaranteeNumber != null" >
        guarantee_number,
      </if>
      <if test="principal != null" >
        principal,
      </if>
      <if test="jobtitle != null" >
        jobtitle,
      </if>
      <if test="contactCity != null" >
        contact_city,
      </if>
      <if test="contactArea != null" >
        contact_area,
      </if>
      <if test="contactAddress != null" >
        contact_address,
      </if>
      <if test="employeeNumber != null" >
        employee_number,
      </if>
      <if test="benefitNumber != null" >
        benefit_number,
      </if>
      <if test="companyAttributes != null" >
        company_attributes,
      </if>
      <if test="industry != null" >
        industry,
      </if>
      <if test="contactName != null" >
        contact_name,
      </if>
      <if test="contactJobtitle != null" >
        contact_jobtitle,
      </if>
      <if test="contactWorkPhoneAreaCode != null" >
        contact_work_phone_area_code,
      </if>
      <if test="contactWorkPhone != null" >
        contact_work_phone,
      </if>
      <if test="contactWorkPhoneExtension != null" >
        contact_work_phone_extension,
      </if>
      <if test="contactPhone != null" >
        contact_phone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="amounts != null" >
        amounts,
      </if>
      <if test="applyManyGovernment != null" >
        apply_many_government,
      </if>
      <if test="applyManyGovernmentYear != null" >
        apply_many_government_year,
      </if>
      <if test="applyManyGovernmentPlanName != null" >
        apply_many_government_plan_name,
      </if>
      <if test="applyManyGovernmentAmounts != null" >
        apply_many_government_amounts,
      </if>
      <if test="repeatApply != null" >
        repeat_apply,
      </if>
      <if test="repeatApplyYear != null" >
        repeat_apply_year,
      </if>
      <if test="repeatApplyAmounts != null" >
        repeat_apply_amounts,
      </if>
      <if test="attachDocumentsApply != null" >
        attach_documents_apply,
      </if>
      <if test="attachDocumentsPlan != null" >
        attach_documents_plan,
      </if>
      <if test="attachDocumentsExpenditure != null" >
        attach_documents_expenditure,
      </if>
      <if test="attachDocumentsRegisterProof != null" >
        attach_documents_register_proof,
      </if>
      <if test="jointAuthorizeBasicData != null" >
        joint_authorize_basic_data,
      </if>
      <if test="attachDocumentsOtherProof != null" >
        attach_documents_other_proof,
      </if>
      <if test="attachDocumentsOtherProofDocument != null" >
        attach_documents_other_proof_document,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="agree != null" >
        agree,
      </if>
      <if test="filler != null" >
        filler,
      </if>
      <if test="applicant != null" >
        applicant,
      </if>
      <if test="updator != null" >
        updator,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="seq != null" >
        #{seq,jdbcType=VARCHAR},
      </if>
      <if test="applyYear != null" >
        #{applyYear,jdbcType=VARCHAR},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="assistanceMeasures1 != null" >
        #{assistanceMeasures1,jdbcType=CHAR},
      </if>
      <if test="assistanceMeasures2 != null" >
        #{assistanceMeasures2,jdbcType=CHAR},
      </if>
      <if test="assistanceMeasures3 != null" >
        #{assistanceMeasures3,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="guaranteeNumber != null" >
        #{guaranteeNumber,jdbcType=VARCHAR},
      </if>
      <if test="principal != null" >
        #{principal,jdbcType=VARCHAR},
      </if>
      <if test="jobtitle != null" >
        #{jobtitle,jdbcType=VARCHAR},
      </if>
      <if test="contactCity != null" >
        #{contactCity,jdbcType=VARCHAR},
      </if>
      <if test="contactArea != null" >
        #{contactArea,jdbcType=VARCHAR},
      </if>
      <if test="contactAddress != null" >
        #{contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="employeeNumber != null" >
        #{employeeNumber,jdbcType=INTEGER},
      </if>
      <if test="benefitNumber != null" >
        #{benefitNumber,jdbcType=INTEGER},
      </if>
      <if test="companyAttributes != null" >
        #{companyAttributes,jdbcType=CHAR},
      </if>
      <if test="industry != null" >
        #{industry,jdbcType=CHAR},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactJobtitle != null" >
        #{contactJobtitle,jdbcType=VARCHAR},
      </if>
      <if test="contactWorkPhoneAreaCode != null" >
        #{contactWorkPhoneAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="contactWorkPhone != null" >
        #{contactWorkPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactWorkPhoneExtension != null" >
        #{contactWorkPhoneExtension,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="amounts != null" >
        #{amounts,jdbcType=INTEGER},
      </if>
      <if test="applyManyGovernment != null" >
        #{applyManyGovernment,jdbcType=CHAR},
      </if>
      <if test="applyManyGovernmentYear != null" >
        #{applyManyGovernmentYear,jdbcType=VARCHAR},
      </if>
      <if test="applyManyGovernmentPlanName != null" >
        #{applyManyGovernmentPlanName,jdbcType=VARCHAR},
      </if>
      <if test="applyManyGovernmentAmounts != null" >
        #{applyManyGovernmentAmounts,jdbcType=INTEGER},
      </if>
      <if test="repeatApply != null" >
        #{repeatApply,jdbcType=CHAR},
      </if>
      <if test="repeatApplyYear != null" >
        #{repeatApplyYear,jdbcType=VARCHAR},
      </if>
      <if test="repeatApplyAmounts != null" >
        #{repeatApplyAmounts,jdbcType=INTEGER},
      </if>
      <if test="attachDocumentsApply != null" >
        #{attachDocumentsApply,jdbcType=CHAR},
      </if>
      <if test="attachDocumentsPlan != null" >
        #{attachDocumentsPlan,jdbcType=CHAR},
      </if>
      <if test="attachDocumentsExpenditure != null" >
        #{attachDocumentsExpenditure,jdbcType=CHAR},
      </if>
      <if test="attachDocumentsRegisterProof != null" >
        #{attachDocumentsRegisterProof,jdbcType=CHAR},
      </if>
      <if test="jointAuthorizeBasicData != null" >
        #{jointAuthorizeBasicData,jdbcType=CHAR},
      </if>
      <if test="attachDocumentsOtherProof != null" >
        #{attachDocumentsOtherProof,jdbcType=CHAR},
      </if>
      <if test="attachDocumentsOtherProofDocument != null" >
        #{attachDocumentsOtherProofDocument,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="agree != null" >
        #{agree,jdbcType=CHAR},
      </if>
      <if test="filler != null" >
        #{filler,jdbcType=VARCHAR},
      </if>
      <if test="applicant != null" >
        #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentApplyExample" resultType="java.lang.Integer" >
    select count(*) from advancedAgeRetirementReemploymentApply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update advancedAgeRetirementReemploymentApply
    <set >
      <if test="record.seq != null" >
        seq = #{record.seq,jdbcType=VARCHAR},
      </if>
      <if test="record.applyYear != null" >
        apply_year = #{record.applyYear,jdbcType=VARCHAR},
      </if>
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.assistanceMeasures1 != null" >
        assistance_measures_1 = #{record.assistanceMeasures1,jdbcType=CHAR},
      </if>
      <if test="record.assistanceMeasures2 != null" >
        assistance_measures_2 = #{record.assistanceMeasures2,jdbcType=CHAR},
      </if>
      <if test="record.assistanceMeasures3 != null" >
        assistance_measures_3 = #{record.assistanceMeasures3,jdbcType=CHAR},
      </if>
      <if test="record.companyName != null" >
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.guaranteeNumber != null" >
        guarantee_number = #{record.guaranteeNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.principal != null" >
        principal = #{record.principal,jdbcType=VARCHAR},
      </if>
      <if test="record.jobtitle != null" >
        jobtitle = #{record.jobtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.contactCity != null" >
        contact_city = #{record.contactCity,jdbcType=VARCHAR},
      </if>
      <if test="record.contactArea != null" >
        contact_area = #{record.contactArea,jdbcType=VARCHAR},
      </if>
      <if test="record.contactAddress != null" >
        contact_address = #{record.contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.employeeNumber != null" >
        employee_number = #{record.employeeNumber,jdbcType=INTEGER},
      </if>
      <if test="record.benefitNumber != null" >
        benefit_number = #{record.benefitNumber,jdbcType=INTEGER},
      </if>
      <if test="record.companyAttributes != null" >
        company_attributes = #{record.companyAttributes,jdbcType=CHAR},
      </if>
      <if test="record.industry != null" >
        industry = #{record.industry,jdbcType=CHAR},
      </if>
      <if test="record.contactName != null" >
        contact_name = #{record.contactName,jdbcType=VARCHAR},
      </if>
      <if test="record.contactJobtitle != null" >
        contact_jobtitle = #{record.contactJobtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.contactWorkPhoneAreaCode != null" >
        contact_work_phone_area_code = #{record.contactWorkPhoneAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="record.contactWorkPhone != null" >
        contact_work_phone = #{record.contactWorkPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.contactWorkPhoneExtension != null" >
        contact_work_phone_extension = #{record.contactWorkPhoneExtension,jdbcType=VARCHAR},
      </if>
      <if test="record.contactPhone != null" >
        contact_phone = #{record.contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null" >
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.amounts != null" >
        amounts = #{record.amounts,jdbcType=INTEGER},
      </if>
      <if test="record.applyManyGovernment != null" >
        apply_many_government = #{record.applyManyGovernment,jdbcType=CHAR},
      </if>
      <if test="record.applyManyGovernmentYear != null" >
        apply_many_government_year = #{record.applyManyGovernmentYear,jdbcType=VARCHAR},
      </if>
      <if test="record.applyManyGovernmentPlanName != null" >
        apply_many_government_plan_name = #{record.applyManyGovernmentPlanName,jdbcType=VARCHAR},
      </if>
      <if test="record.applyManyGovernmentAmounts != null" >
        apply_many_government_amounts = #{record.applyManyGovernmentAmounts,jdbcType=INTEGER},
      </if>
      <if test="record.repeatApply != null" >
        repeat_apply = #{record.repeatApply,jdbcType=CHAR},
      </if>
      <if test="record.repeatApplyYear != null" >
        repeat_apply_year = #{record.repeatApplyYear,jdbcType=VARCHAR},
      </if>
      <if test="record.repeatApplyAmounts != null" >
        repeat_apply_amounts = #{record.repeatApplyAmounts,jdbcType=INTEGER},
      </if>
      <if test="record.attachDocumentsApply != null" >
        attach_documents_apply = #{record.attachDocumentsApply,jdbcType=CHAR},
      </if>
      <if test="record.attachDocumentsPlan != null" >
        attach_documents_plan = #{record.attachDocumentsPlan,jdbcType=CHAR},
      </if>
      <if test="record.attachDocumentsExpenditure != null" >
        attach_documents_expenditure = #{record.attachDocumentsExpenditure,jdbcType=CHAR},
      </if>
      <if test="record.attachDocumentsRegisterProof != null" >
        attach_documents_register_proof = #{record.attachDocumentsRegisterProof,jdbcType=CHAR},
      </if>
      <if test="record.jointAuthorizeBasicData != null" >
        joint_authorize_basic_data = #{record.jointAuthorizeBasicData,jdbcType=CHAR},
      </if>
      <if test="record.attachDocumentsOtherProof != null" >
        attach_documents_other_proof = #{record.attachDocumentsOtherProof,jdbcType=CHAR},
      </if>
      <if test="record.attachDocumentsOtherProofDocument != null" >
        attach_documents_other_proof_document = #{record.attachDocumentsOtherProofDocument,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.agree != null" >
        agree = #{record.agree,jdbcType=CHAR},
      </if>
      <if test="record.filler != null" >
        filler = #{record.filler,jdbcType=VARCHAR},
      </if>
      <if test="record.applicant != null" >
        applicant = #{record.applicant,jdbcType=VARCHAR},
      </if>
      <if test="record.updator != null" >
        updator = #{record.updator,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update advancedAgeRetirementReemploymentApply
    set seq = #{record.seq,jdbcType=VARCHAR},
      apply_year = #{record.applyYear,jdbcType=VARCHAR},
      id = #{record.id,jdbcType=INTEGER},
      assistance_measures_1 = #{record.assistanceMeasures1,jdbcType=CHAR},
      assistance_measures_2 = #{record.assistanceMeasures2,jdbcType=CHAR},
      assistance_measures_3 = #{record.assistanceMeasures3,jdbcType=CHAR},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      guarantee_number = #{record.guaranteeNumber,jdbcType=VARCHAR},
      principal = #{record.principal,jdbcType=VARCHAR},
      jobtitle = #{record.jobtitle,jdbcType=VARCHAR},
      contact_city = #{record.contactCity,jdbcType=VARCHAR},
      contact_area = #{record.contactArea,jdbcType=VARCHAR},
      contact_address = #{record.contactAddress,jdbcType=VARCHAR},
      employee_number = #{record.employeeNumber,jdbcType=INTEGER},
      benefit_number = #{record.benefitNumber,jdbcType=INTEGER},
      company_attributes = #{record.companyAttributes,jdbcType=CHAR},
      industry = #{record.industry,jdbcType=CHAR},
      contact_name = #{record.contactName,jdbcType=VARCHAR},
      contact_jobtitle = #{record.contactJobtitle,jdbcType=VARCHAR},
      contact_work_phone_area_code = #{record.contactWorkPhoneAreaCode,jdbcType=VARCHAR},
      contact_work_phone = #{record.contactWorkPhone,jdbcType=VARCHAR},
      contact_work_phone_extension = #{record.contactWorkPhoneExtension,jdbcType=VARCHAR},
      contact_phone = #{record.contactPhone,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      amounts = #{record.amounts,jdbcType=INTEGER},
      apply_many_government = #{record.applyManyGovernment,jdbcType=CHAR},
      apply_many_government_year = #{record.applyManyGovernmentYear,jdbcType=VARCHAR},
      apply_many_government_plan_name = #{record.applyManyGovernmentPlanName,jdbcType=VARCHAR},
      apply_many_government_amounts = #{record.applyManyGovernmentAmounts,jdbcType=INTEGER},
      repeat_apply = #{record.repeatApply,jdbcType=CHAR},
      repeat_apply_year = #{record.repeatApplyYear,jdbcType=VARCHAR},
      repeat_apply_amounts = #{record.repeatApplyAmounts,jdbcType=INTEGER},
      attach_documents_apply = #{record.attachDocumentsApply,jdbcType=CHAR},
      attach_documents_plan = #{record.attachDocumentsPlan,jdbcType=CHAR},
      attach_documents_expenditure = #{record.attachDocumentsExpenditure,jdbcType=CHAR},
      attach_documents_register_proof = #{record.attachDocumentsRegisterProof,jdbcType=CHAR},
      joint_authorize_basic_data = #{record.jointAuthorizeBasicData,jdbcType=CHAR},
      attach_documents_other_proof = #{record.attachDocumentsOtherProof,jdbcType=CHAR},
      attach_documents_other_proof_document = #{record.attachDocumentsOtherProofDocument,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      agree = #{record.agree,jdbcType=CHAR},
      filler = #{record.filler,jdbcType=VARCHAR},
      applicant = #{record.applicant,jdbcType=VARCHAR},
      updator = #{record.updator,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentApply" >
    update advancedAgeRetirementReemploymentApply
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="assistanceMeasures1 != null" >
        assistance_measures_1 = #{assistanceMeasures1,jdbcType=CHAR},
      </if>
      <if test="assistanceMeasures2 != null" >
        assistance_measures_2 = #{assistanceMeasures2,jdbcType=CHAR},
      </if>
      <if test="assistanceMeasures3 != null" >
        assistance_measures_3 = #{assistanceMeasures3,jdbcType=CHAR},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="guaranteeNumber != null" >
        guarantee_number = #{guaranteeNumber,jdbcType=VARCHAR},
      </if>
      <if test="principal != null" >
        principal = #{principal,jdbcType=VARCHAR},
      </if>
      <if test="jobtitle != null" >
        jobtitle = #{jobtitle,jdbcType=VARCHAR},
      </if>
      <if test="contactCity != null" >
        contact_city = #{contactCity,jdbcType=VARCHAR},
      </if>
      <if test="contactArea != null" >
        contact_area = #{contactArea,jdbcType=VARCHAR},
      </if>
      <if test="contactAddress != null" >
        contact_address = #{contactAddress,jdbcType=VARCHAR},
      </if>
      <if test="employeeNumber != null" >
        employee_number = #{employeeNumber,jdbcType=INTEGER},
      </if>
      <if test="benefitNumber != null" >
        benefit_number = #{benefitNumber,jdbcType=INTEGER},
      </if>
      <if test="companyAttributes != null" >
        company_attributes = #{companyAttributes,jdbcType=CHAR},
      </if>
      <if test="industry != null" >
        industry = #{industry,jdbcType=CHAR},
      </if>
      <if test="contactName != null" >
        contact_name = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactJobtitle != null" >
        contact_jobtitle = #{contactJobtitle,jdbcType=VARCHAR},
      </if>
      <if test="contactWorkPhoneAreaCode != null" >
        contact_work_phone_area_code = #{contactWorkPhoneAreaCode,jdbcType=VARCHAR},
      </if>
      <if test="contactWorkPhone != null" >
        contact_work_phone = #{contactWorkPhone,jdbcType=VARCHAR},
      </if>
      <if test="contactWorkPhoneExtension != null" >
        contact_work_phone_extension = #{contactWorkPhoneExtension,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        contact_phone = #{contactPhone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="amounts != null" >
        amounts = #{amounts,jdbcType=INTEGER},
      </if>
      <if test="applyManyGovernment != null" >
        apply_many_government = #{applyManyGovernment,jdbcType=CHAR},
      </if>
      <if test="applyManyGovernmentYear != null" >
        apply_many_government_year = #{applyManyGovernmentYear,jdbcType=VARCHAR},
      </if>
      <if test="applyManyGovernmentPlanName != null" >
        apply_many_government_plan_name = #{applyManyGovernmentPlanName,jdbcType=VARCHAR},
      </if>
      <if test="applyManyGovernmentAmounts != null" >
        apply_many_government_amounts = #{applyManyGovernmentAmounts,jdbcType=INTEGER},
      </if>
      <if test="repeatApply != null" >
        repeat_apply = #{repeatApply,jdbcType=CHAR},
      </if>
      <if test="repeatApplyYear != null" >
        repeat_apply_year = #{repeatApplyYear,jdbcType=VARCHAR},
      </if>
      <if test="repeatApplyAmounts != null" >
        repeat_apply_amounts = #{repeatApplyAmounts,jdbcType=INTEGER},
      </if>
      <if test="attachDocumentsApply != null" >
        attach_documents_apply = #{attachDocumentsApply,jdbcType=CHAR},
      </if>
      <if test="attachDocumentsPlan != null" >
        attach_documents_plan = #{attachDocumentsPlan,jdbcType=CHAR},
      </if>
      <if test="attachDocumentsExpenditure != null" >
        attach_documents_expenditure = #{attachDocumentsExpenditure,jdbcType=CHAR},
      </if>
      <if test="attachDocumentsRegisterProof != null" >
        attach_documents_register_proof = #{attachDocumentsRegisterProof,jdbcType=CHAR},
      </if>
      <if test="jointAuthorizeBasicData != null" >
        joint_authorize_basic_data = #{jointAuthorizeBasicData,jdbcType=CHAR},
      </if>
      <if test="attachDocumentsOtherProof != null" >
        attach_documents_other_proof = #{attachDocumentsOtherProof,jdbcType=CHAR},
      </if>
      <if test="attachDocumentsOtherProofDocument != null" >
        attach_documents_other_proof_document = #{attachDocumentsOtherProofDocument,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="agree != null" >
        agree = #{agree,jdbcType=CHAR},
      </if>
      <if test="filler != null" >
        filler = #{filler,jdbcType=VARCHAR},
      </if>
      <if test="applicant != null" >
        applicant = #{applicant,jdbcType=VARCHAR},
      </if>
      <if test="updator != null" >
        updator = #{updator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where seq = #{seq,jdbcType=VARCHAR}
      and apply_year = #{applyYear,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentApply" >
    update advancedAgeRetirementReemploymentApply
    set id = #{id,jdbcType=INTEGER},
      assistance_measures_1 = #{assistanceMeasures1,jdbcType=CHAR},
      assistance_measures_2 = #{assistanceMeasures2,jdbcType=CHAR},
      assistance_measures_3 = #{assistanceMeasures3,jdbcType=CHAR},
      company_name = #{companyName,jdbcType=VARCHAR},
      guarantee_number = #{guaranteeNumber,jdbcType=VARCHAR},
      principal = #{principal,jdbcType=VARCHAR},
      jobtitle = #{jobtitle,jdbcType=VARCHAR},
      contact_city = #{contactCity,jdbcType=VARCHAR},
      contact_area = #{contactArea,jdbcType=VARCHAR},
      contact_address = #{contactAddress,jdbcType=VARCHAR},
      employee_number = #{employeeNumber,jdbcType=INTEGER},
      benefit_number = #{benefitNumber,jdbcType=INTEGER},
      company_attributes = #{companyAttributes,jdbcType=CHAR},
      industry = #{industry,jdbcType=CHAR},
      contact_name = #{contactName,jdbcType=VARCHAR},
      contact_jobtitle = #{contactJobtitle,jdbcType=VARCHAR},
      contact_work_phone_area_code = #{contactWorkPhoneAreaCode,jdbcType=VARCHAR},
      contact_work_phone = #{contactWorkPhone,jdbcType=VARCHAR},
      contact_work_phone_extension = #{contactWorkPhoneExtension,jdbcType=VARCHAR},
      contact_phone = #{contactPhone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      amounts = #{amounts,jdbcType=INTEGER},
      apply_many_government = #{applyManyGovernment,jdbcType=CHAR},
      apply_many_government_year = #{applyManyGovernmentYear,jdbcType=VARCHAR},
      apply_many_government_plan_name = #{applyManyGovernmentPlanName,jdbcType=VARCHAR},
      apply_many_government_amounts = #{applyManyGovernmentAmounts,jdbcType=INTEGER},
      repeat_apply = #{repeatApply,jdbcType=CHAR},
      repeat_apply_year = #{repeatApplyYear,jdbcType=VARCHAR},
      repeat_apply_amounts = #{repeatApplyAmounts,jdbcType=INTEGER},
      attach_documents_apply = #{attachDocumentsApply,jdbcType=CHAR},
      attach_documents_plan = #{attachDocumentsPlan,jdbcType=CHAR},
      attach_documents_expenditure = #{attachDocumentsExpenditure,jdbcType=CHAR},
      attach_documents_register_proof = #{attachDocumentsRegisterProof,jdbcType=CHAR},
      joint_authorize_basic_data = #{jointAuthorizeBasicData,jdbcType=CHAR},
      attach_documents_other_proof = #{attachDocumentsOtherProof,jdbcType=CHAR},
      attach_documents_other_proof_document = #{attachDocumentsOtherProofDocument,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      agree = #{agree,jdbcType=CHAR},
      filler = #{filler,jdbcType=VARCHAR},
      applicant = #{applicant,jdbcType=VARCHAR},
      updator = #{updator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where seq = #{seq,jdbcType=VARCHAR}
      and apply_year = #{applyYear,jdbcType=VARCHAR}
  </update>
</mapper>