<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot.dao.ExperienceInheritanceSpeakerListMapper" >
  <resultMap id="BaseResultMap" type="com.example.springboot.entity.ExperienceInheritanceSpeakerList" >
    <id column="identification" property="identification" jdbcType="VARCHAR" />
    <id column="retirement_advanced_age_experience_inheritance_plan_id" property="retirementAdvancedAgeExperienceInheritancePlanId" jdbcType="INTEGER" />
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="employee_id" property="employeeId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="labor_protection_time" property="laborProtectionTime" jdbcType="VARCHAR" />
    <result column="occupational_accident_protection_time" property="occupationalAccidentProtectionTime" jdbcType="VARCHAR" />
    <result column="manager" property="manager" jdbcType="CHAR" />
    <result column="relatives" property="relatives" jdbcType="CHAR" />
    <result column="working_hours" property="workingHours" jdbcType="CHAR" />
    <result column="execution_way" property="executionWay" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    identification, retirement_advanced_age_experience_inheritance_plan_id, id, employee_id, 
    name, birthday, labor_protection_time, occupational_accident_protection_time, manager, 
    relatives, working_hours, execution_way
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.springboot.entity.ExperienceInheritanceSpeakerListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from experienceInheritanceSpeakerList
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.example.springboot.entity.ExperienceInheritanceSpeakerListKey" >
    select 
    <include refid="Base_Column_List" />
    from experienceInheritanceSpeakerList
    where identification = #{identification,jdbcType=VARCHAR}
      and retirement_advanced_age_experience_inheritance_plan_id = #{retirementAdvancedAgeExperienceInheritancePlanId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.springboot.entity.ExperienceInheritanceSpeakerListKey" >
    delete from experienceInheritanceSpeakerList
    where identification = #{identification,jdbcType=VARCHAR}
      and retirement_advanced_age_experience_inheritance_plan_id = #{retirementAdvancedAgeExperienceInheritancePlanId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.springboot.entity.ExperienceInheritanceSpeakerListExample" >
    delete from experienceInheritanceSpeakerList
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.springboot.entity.ExperienceInheritanceSpeakerList" >
    insert into experienceInheritanceSpeakerList (identification, retirement_advanced_age_experience_inheritance_plan_id, 
      id, employee_id, name, 
      birthday, labor_protection_time, occupational_accident_protection_time, 
      manager, relatives, working_hours, 
      execution_way)
    values (#{identification,jdbcType=VARCHAR}, #{retirementAdvancedAgeExperienceInheritancePlanId,jdbcType=INTEGER}, 
      #{id,jdbcType=INTEGER}, #{employeeId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=VARCHAR}, #{laborProtectionTime,jdbcType=VARCHAR}, #{occupationalAccidentProtectionTime,jdbcType=VARCHAR}, 
      #{manager,jdbcType=CHAR}, #{relatives,jdbcType=CHAR}, #{workingHours,jdbcType=CHAR}, 
      #{executionWay,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.springboot.entity.ExperienceInheritanceSpeakerList" >
    insert into experienceInheritanceSpeakerList
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="identification != null" >
        identification,
      </if>
      <if test="retirementAdvancedAgeExperienceInheritancePlanId != null" >
        retirement_advanced_age_experience_inheritance_plan_id,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="employeeId != null" >
        employee_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="laborProtectionTime != null" >
        labor_protection_time,
      </if>
      <if test="occupationalAccidentProtectionTime != null" >
        occupational_accident_protection_time,
      </if>
      <if test="manager != null" >
        manager,
      </if>
      <if test="relatives != null" >
        relatives,
      </if>
      <if test="workingHours != null" >
        working_hours,
      </if>
      <if test="executionWay != null" >
        execution_way,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="identification != null" >
        #{identification,jdbcType=VARCHAR},
      </if>
      <if test="retirementAdvancedAgeExperienceInheritancePlanId != null" >
        #{retirementAdvancedAgeExperienceInheritancePlanId,jdbcType=INTEGER},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="laborProtectionTime != null" >
        #{laborProtectionTime,jdbcType=VARCHAR},
      </if>
      <if test="occupationalAccidentProtectionTime != null" >
        #{occupationalAccidentProtectionTime,jdbcType=VARCHAR},
      </if>
      <if test="manager != null" >
        #{manager,jdbcType=CHAR},
      </if>
      <if test="relatives != null" >
        #{relatives,jdbcType=CHAR},
      </if>
      <if test="workingHours != null" >
        #{workingHours,jdbcType=CHAR},
      </if>
      <if test="executionWay != null" >
        #{executionWay,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.springboot.entity.ExperienceInheritanceSpeakerListExample" resultType="java.lang.Integer" >
    select count(*) from experienceInheritanceSpeakerList
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update experienceInheritanceSpeakerList
    <set >
      <if test="record.identification != null" >
        identification = #{record.identification,jdbcType=VARCHAR},
      </if>
      <if test="record.retirementAdvancedAgeExperienceInheritancePlanId != null" >
        retirement_advanced_age_experience_inheritance_plan_id = #{record.retirementAdvancedAgeExperienceInheritancePlanId,jdbcType=INTEGER},
      </if>
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.employeeId != null" >
        employee_id = #{record.employeeId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=VARCHAR},
      </if>
      <if test="record.laborProtectionTime != null" >
        labor_protection_time = #{record.laborProtectionTime,jdbcType=VARCHAR},
      </if>
      <if test="record.occupationalAccidentProtectionTime != null" >
        occupational_accident_protection_time = #{record.occupationalAccidentProtectionTime,jdbcType=VARCHAR},
      </if>
      <if test="record.manager != null" >
        manager = #{record.manager,jdbcType=CHAR},
      </if>
      <if test="record.relatives != null" >
        relatives = #{record.relatives,jdbcType=CHAR},
      </if>
      <if test="record.workingHours != null" >
        working_hours = #{record.workingHours,jdbcType=CHAR},
      </if>
      <if test="record.executionWay != null" >
        execution_way = #{record.executionWay,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update experienceInheritanceSpeakerList
    set identification = #{record.identification,jdbcType=VARCHAR},
      retirement_advanced_age_experience_inheritance_plan_id = #{record.retirementAdvancedAgeExperienceInheritancePlanId,jdbcType=INTEGER},
      id = #{record.id,jdbcType=INTEGER},
      employee_id = #{record.employeeId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=VARCHAR},
      labor_protection_time = #{record.laborProtectionTime,jdbcType=VARCHAR},
      occupational_accident_protection_time = #{record.occupationalAccidentProtectionTime,jdbcType=VARCHAR},
      manager = #{record.manager,jdbcType=CHAR},
      relatives = #{record.relatives,jdbcType=CHAR},
      working_hours = #{record.workingHours,jdbcType=CHAR},
      execution_way = #{record.executionWay,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springboot.entity.ExperienceInheritanceSpeakerList" >
    update experienceInheritanceSpeakerList
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="employeeId != null" >
        employee_id = #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="laborProtectionTime != null" >
        labor_protection_time = #{laborProtectionTime,jdbcType=VARCHAR},
      </if>
      <if test="occupationalAccidentProtectionTime != null" >
        occupational_accident_protection_time = #{occupationalAccidentProtectionTime,jdbcType=VARCHAR},
      </if>
      <if test="manager != null" >
        manager = #{manager,jdbcType=CHAR},
      </if>
      <if test="relatives != null" >
        relatives = #{relatives,jdbcType=CHAR},
      </if>
      <if test="workingHours != null" >
        working_hours = #{workingHours,jdbcType=CHAR},
      </if>
      <if test="executionWay != null" >
        execution_way = #{executionWay,jdbcType=VARCHAR},
      </if>
    </set>
    where identification = #{identification,jdbcType=VARCHAR}
      and retirement_advanced_age_experience_inheritance_plan_id = #{retirementAdvancedAgeExperienceInheritancePlanId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springboot.entity.ExperienceInheritanceSpeakerList" >
    update experienceInheritanceSpeakerList
    set id = #{id,jdbcType=INTEGER},
      employee_id = #{employeeId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      labor_protection_time = #{laborProtectionTime,jdbcType=VARCHAR},
      occupational_accident_protection_time = #{occupationalAccidentProtectionTime,jdbcType=VARCHAR},
      manager = #{manager,jdbcType=CHAR},
      relatives = #{relatives,jdbcType=CHAR},
      working_hours = #{workingHours,jdbcType=CHAR},
      execution_way = #{executionWay,jdbcType=VARCHAR}
    where identification = #{identification,jdbcType=VARCHAR}
      and retirement_advanced_age_experience_inheritance_plan_id = #{retirementAdvancedAgeExperienceInheritancePlanId,jdbcType=INTEGER}
  </update>
</mapper>