@page {
     size: A4 landscape; /*直式portrait 橫式landscape*/
     margin: 1cm;  /*print邊界*/
}
body {
	font-family: "微軟正黑體";
}

@media print {
h1, h2, h3, h4, h5, h6 {
  page-break-after:avoid;
  page-break-inside:avoid
}
h1+p, h2+p, h3+p {
  page-break-before: avoid;
}
a {
  page-break-inside:avoid
}
img{
  page-break-after: avoid;
  page-break-inside: avoid;
}
/*table, blockquote{
  page-break-inside: avoid;
}*/
ul, ol, dl {
  page-break-before:avoid;
}
/* 如架構本身用一組一組的 DIV 包住，也可強制設定每組 DIV 會各自切成一頁 
div.pageBlock{
  page-break-before: always;
}
*/
}
input {
	border-radius: 3px;
	font-size: 1em;
	border: 1px solid #888;
	padding: 5px 7px!important;
	margin: 0px!important;
}
select {
	border-radius: 3px;
	font-size: 1em;
	cursor: pointer;
	padding: 4px 2px!important;
	font-weight: bold;
	border: 1px solid #888;
}
.center {
	text-align: center;
}


.noBreak {
    break-inside: avoid;
}
.noPrint {
    display: none;
}
.break_before { page-break-before: always; }  /*在元件之前插入分頁符*/
.break_after { page-break-after: always; }    /*在元件之後插入分頁符*/


.report_page {
	width: 100%;
	height: 100%;
}
.report_title {
	position: relative;
	margin-bottom: 30px;
}
.report_title-2 {
	position: relative;
	margin-bottom: 5px;
}
.t-mane {
	font-family: "標楷體";
	font-size: 24pt;
	text-align: center;
	margin-bottom: 15px;
	margin-right: 200pt;
	margin-left: 200pt;
	line-height: 30pt;
}
.t-mane-2  {
	font-family: "標楷體";
	font-size: 18pt;
	text-align: center;
	margin-bottom: 15px;
	margin-right: 150pt;
	margin-left: 150pt;
	line-height: 20pt;
}

.t-mane-3  {
	font-family: "標楷體";
	font-size: 24pt;
	text-align: center;
	margin-right: 50pt;
	margin-left: 50pt;
	line-height: 30pt;
	margin-bottom: 60px;
}
.t-mane-4  {
	font-family: "標楷體";
	font-size: 22pt;
	text-align: center;
	margin-bottom: 10px;
	margin-right: 50pt;
	margin-left: 50pt;
	line-height: 30pt;
}
.t-mane-5 {
	font-family: "標楷體";
	font-size: 16pt;
	text-align: center;
	margin-bottom: 5px;
	margin-right: 150pt;
	margin-left: 150pt;
	line-height: 16pt;
}
.t-date {
	font-family: "標楷體";
	font-size: 20pt;
	text-align: center;
}
.t-date span.year {
	padding-right: 10px;
	padding-left: 5px;
}
.t-date span.month {
	padding-right: 10px;
	padding-left: 5px;
}
.t-date span.day {
	padding-right: 10px;
	padding-left: 5px;
}

.t-date-2 {
	font-family: "標楷體";
	font-size: 14pt;
	text-align: center;
}
.t-date-2 span.year {
	padding-right: 10px;
	padding-left: 5px;
}
.t-date-2 span.month {
	padding-right: 10px;
	padding-left: 5px;
}
.t-date-2 span.day {
	padding-right: 10px;
	padding-left: 5px;
}

.item  {
	font-weight: bold;
	position: absolute;
	bottom: 0px;
	line-height: 24px;
	left: 1px;
}


.print_info {
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-size: 12pt;
	letter-spacing: 1pt;
}
.print_info .p-date {
	margin-bottom: 5px;
}
.print_info .p-page {
	margin-bottom: 5px;
}
.print_info .p-user {

}
.print_info span {
	width: 70pt;
	display: inline-block;
	text-align: right;
}


.print_info-s {
	position: absolute;
	right: 0px;
	bottom: 0px;
	font-size: 10pt;
	letter-spacing: 1pt;
}
.print_info-s .p-date {
	margin-bottom: 0px;
}
.print_info-s .p-page {
	margin-bottom: 0px;
}
.print_info-s .p-user {

}
.print_info-s span {
	width: 70pt;
	display: inline-block;
	text-align: right;
}

table {
	border-spacing: 0px;
	width: 100%;
	border-top-width: 2px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
}.report_main {
	margin-bottom: 0px;
}

.report_main table{
}

.report_main th {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	white-space: nowrap;
	line-height: 16pt;
	padding: 10px;
}

.report_main td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	text-align: center;
	padding: 10px;
}
.report_main table.m th {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	white-space: nowrap;
	line-height: 20pt;
	padding: 6px;
	font-size: 15px;
}

.report_main table.m td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	text-align: center;
	padding: 6px;
	font-size: 15px;
}

.report_main table.s th {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	white-space: nowrap;
	line-height: 14px;
	padding: 3px;
	font-size: 14px;
}


.report_main table.s td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	text-align: center;
	padding: 5px;
	font-size: 14px;
}


.report_main table.s thead th {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	white-space: nowrap;
	padding: 5px;
	line-height: 20px;
}

.report_main table.ss th {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	white-space: nowrap;
	line-height: 18pt;
	padding: 3px;
	font-size: 14px;
}

.report_main table.ss td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	text-align: center;
	font-size: 14px;
	padding: 3px;
}

.report_main table.ss thead th {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	white-space: nowrap;
	line-height: 18px;
	font-size: 14px;
	padding: 3px;
	font-weight: bold;
}

.report_main table.sss th {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	white-space: nowrap;
	line-height: 14pt;
	font-size: 13px;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
}
.report_main table.sss td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	text-align: center;
	font-size: 12px;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
}
.report_main table.sss thead th {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	white-space: nowrap;
	line-height: 14px;
	font-size: 13px;
	font-weight: bold;
	padding-top: 3px;
	padding-right: 2px;
	padding-bottom: 3px;
	padding-left: 2px;
}


.report_main table.xxs th {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	white-space: nowrap;
	line-height: 12pt;
	font-size: 12px;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 2px;
	padding-left: 1px;
}
.report_main table.xxs td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	text-align: center;
	font-size: 12px;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 2px;
	padding-left: 1px;
}
.report_main table.xxs thead th {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	white-space: nowrap;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 2px;
	padding-left: 1px;
}


.report_main table.xxxs th {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	white-space: nowrap;
	line-height: 14pt;
	font-size: 14px;
	padding: 1px;
}
.report_main table.xxxs td {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	text-align: center;
	font-size: 12px;
	padding: 1px;
}
.report_main table.xxxs thead th {
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #000;
	border-bottom-color: #000;
	white-space: nowrap;
	line-height: 14px;
	font-size: 14px;
	font-weight: bold;
	padding-top: 2px;
	padding-right: 1px;
	padding-bottom: 2px;
	padding-left: 1px;
}


.report_main table tfoot td {
	font-weight: bold;
	border-top-width: 3px;
	border-top-style: double;
	border-top-color: #000;
}
.report_main table.no-line {
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #000;
}

.report_main table.no-line th {
	white-space: nowrap;
	line-height: 20pt;
	padding: 2px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-align: right;
}

.report_main table.no-line td {
	border-right-style: none;
	border-bottom-style: none;
	border-top-style: none;
	border-left-style: none;
	text-align: left;
	padding: 2px;
}

.report_main table.no-line-2 {
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
}
.report_main table.no-line-2 th {
	white-space: nowrap;
	line-height: 20pt;
	padding: 2px;
	text-align: left;
	border: none;
}
.report_main table.no-line-2 td {
	text-align: left;
	padding: 2px;
	border: none;
}

.records {
	position: relative;
	top: -20px;
}
.total {
	margin-top: 20px;
}

.total span {
	font-size: 20px;
	font-family: "微軟正黑體";
	font-weight: bold;
}
.note {
	margin-top: 20px;
	line-height: 24px;
}

.note-2 {
	margin-top: 10px;
}
.note-3 {
	margin-top: 10px;
	line-height: 14px;
	font-size: 10px;
}




.signature {
	margin-top: 40px;
}

.signature table , .signature td{
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-align: left;
	font-weight: bold;
	font-size: 16px;
}



.signature-2 {
	margin-top: 50px;
	font-family: "標楷體";
	font-size: 26px;
	float: right;
	width: 350px;
}

.signature-2 table, .signature-2 td {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.signature-3 {
	margin-top: 0px;
	display: block !important;
	page-break-inside: avoid;
}
.signature-3 table, .signature-3 td {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	text-align: left;
	font-weight: bold;
	font-size: 16px;
}


.p_btn_01 {
	background-color: #D35305;
	color: #FFF;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 11px;
	padding-bottom: 12px;
	font-family: "微軟正黑體";
	margin-right: 10px;
	border-radius: 5px;
	border: none;
	font-size: 1.2em;
	font-weight: bold;
	cursor: pointer;
}

.p_btn_01:hover {
	background-color: #B94609;
}


.p_btn_02 {
	background-color: #777;
	color: #FFF;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 11px;
	padding-bottom: 12px;
	font-family: "微軟正黑體";
	margin-right: 10px;
	border-radius: 5px;
	border: none;
	font-size: 1.2em;
	font-weight: bold;
	cursor: pointer;
}
.p_btn_02:hover {
	background-color: #666;
}

.p_btn_03 {
	background-color: #005E8A;
	color: #FFF;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 11px;
	padding-bottom: 12px;
	font-family: "微軟正黑體";
	margin-right: 10px;
	border-radius: 5px;
	border: none;
	font-size: 1.2em;
	font-weight: bold;
	cursor: pointer;
}

.p_btn_03:hover {
	background-color: #004D71;
}


.p_btn_04 {
	background-color: #009966;
	color: #FFF;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 11px;
	padding-bottom: 12px;
	font-family: "微軟正黑體";
	margin-right: 10px;
	border-radius: 5px;
	border: none;
	font-size: 1.2em;
	font-weight: bold;
	cursor: pointer;
}
.p_btn_04:hover {
	background-color: #007700;
}


.p_btn_box-3 {
	clear: both;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
}
