<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot.dao.AdvancedAgeRetirementReemploymentBenefitListMapper" >
  <resultMap id="BaseResultMap" type="com.example.springboot.entity.AdvancedAgeRetirementReemploymentBenefitList" >
    <id column="identification" property="identification" jdbcType="VARCHAR" />
    <id column="advanced_age_retirement_reemployment_plan_id" property="advancedAgeRetirementReemploymentPlanId" jdbcType="INTEGER" />
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="employee_id" property="employeeId" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="birthday" property="birthday" jdbcType="VARCHAR" />
    <result column="insurance_type" property="insuranceType" jdbcType="CHAR" />
    <result column="insurance_time" property="insuranceTime" jdbcType="VARCHAR" />
    <result column="manager" property="manager" jdbcType="CHAR" />
    <result column="working_hours" property="workingHours" jdbcType="CHAR" />
    <result column="labor_protection_time" property="laborProtectionTime" jdbcType="VARCHAR" />
    <result column="occupational_accident_protection_time" property="occupationalAccidentProtectionTime" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    identification, advanced_age_retirement_reemployment_plan_id, id, employee_id, name, 
    birthday, insurance_type, insurance_time, manager, working_hours, labor_protection_time, 
    occupational_accident_protection_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentBenefitListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from advancedAgeRetirementReemploymentBenefitList
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentBenefitListKey" >
    select 
    <include refid="Base_Column_List" />
    from advancedAgeRetirementReemploymentBenefitList
    where identification = #{identification,jdbcType=VARCHAR}
      and advanced_age_retirement_reemployment_plan_id = #{advancedAgeRetirementReemploymentPlanId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentBenefitListKey" >
    delete from advancedAgeRetirementReemploymentBenefitList
    where identification = #{identification,jdbcType=VARCHAR}
      and advanced_age_retirement_reemployment_plan_id = #{advancedAgeRetirementReemploymentPlanId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentBenefitListExample" >
    delete from advancedAgeRetirementReemploymentBenefitList
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentBenefitList" >
    insert into advancedAgeRetirementReemploymentBenefitList (identification, advanced_age_retirement_reemployment_plan_id, 
      id, employee_id, name, 
      birthday, insurance_type, insurance_time, 
      manager, working_hours, labor_protection_time, 
      occupational_accident_protection_time)
    values (#{identification,jdbcType=VARCHAR}, #{advancedAgeRetirementReemploymentPlanId,jdbcType=INTEGER}, 
      #{id,jdbcType=INTEGER}, #{employeeId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=VARCHAR}, #{insuranceType,jdbcType=CHAR}, #{insuranceTime,jdbcType=VARCHAR}, 
      #{manager,jdbcType=CHAR}, #{workingHours,jdbcType=CHAR}, #{laborProtectionTime,jdbcType=VARCHAR}, 
      #{occupationalAccidentProtectionTime,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentBenefitList" >
    insert into advancedAgeRetirementReemploymentBenefitList
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="identification != null" >
        identification,
      </if>
      <if test="advancedAgeRetirementReemploymentPlanId != null" >
        advanced_age_retirement_reemployment_plan_id,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="employeeId != null" >
        employee_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="insuranceType != null" >
        insurance_type,
      </if>
      <if test="insuranceTime != null" >
        insurance_time,
      </if>
      <if test="manager != null" >
        manager,
      </if>
      <if test="workingHours != null" >
        working_hours,
      </if>
      <if test="laborProtectionTime != null" >
        labor_protection_time,
      </if>
      <if test="occupationalAccidentProtectionTime != null" >
        occupational_accident_protection_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="identification != null" >
        #{identification,jdbcType=VARCHAR},
      </if>
      <if test="advancedAgeRetirementReemploymentPlanId != null" >
        #{advancedAgeRetirementReemploymentPlanId,jdbcType=INTEGER},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="employeeId != null" >
        #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="insuranceType != null" >
        #{insuranceType,jdbcType=CHAR},
      </if>
      <if test="insuranceTime != null" >
        #{insuranceTime,jdbcType=VARCHAR},
      </if>
      <if test="manager != null" >
        #{manager,jdbcType=CHAR},
      </if>
      <if test="workingHours != null" >
        #{workingHours,jdbcType=CHAR},
      </if>
      <if test="laborProtectionTime != null" >
        #{laborProtectionTime,jdbcType=VARCHAR},
      </if>
      <if test="occupationalAccidentProtectionTime != null" >
        #{occupationalAccidentProtectionTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentBenefitListExample" resultType="java.lang.Integer" >
    select count(*) from advancedAgeRetirementReemploymentBenefitList
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update advancedAgeRetirementReemploymentBenefitList
    <set >
      <if test="record.identification != null" >
        identification = #{record.identification,jdbcType=VARCHAR},
      </if>
      <if test="record.advancedAgeRetirementReemploymentPlanId != null" >
        advanced_age_retirement_reemployment_plan_id = #{record.advancedAgeRetirementReemploymentPlanId,jdbcType=INTEGER},
      </if>
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.employeeId != null" >
        employee_id = #{record.employeeId,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.birthday != null" >
        birthday = #{record.birthday,jdbcType=VARCHAR},
      </if>
      <if test="record.insuranceType != null" >
        insurance_type = #{record.insuranceType,jdbcType=CHAR},
      </if>
      <if test="record.insuranceTime != null" >
        insurance_time = #{record.insuranceTime,jdbcType=VARCHAR},
      </if>
      <if test="record.manager != null" >
        manager = #{record.manager,jdbcType=CHAR},
      </if>
      <if test="record.workingHours != null" >
        working_hours = #{record.workingHours,jdbcType=CHAR},
      </if>
      <if test="record.laborProtectionTime != null" >
        labor_protection_time = #{record.laborProtectionTime,jdbcType=VARCHAR},
      </if>
      <if test="record.occupationalAccidentProtectionTime != null" >
        occupational_accident_protection_time = #{record.occupationalAccidentProtectionTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update advancedAgeRetirementReemploymentBenefitList
    set identification = #{record.identification,jdbcType=VARCHAR},
      advanced_age_retirement_reemployment_plan_id = #{record.advancedAgeRetirementReemploymentPlanId,jdbcType=INTEGER},
      id = #{record.id,jdbcType=INTEGER},
      employee_id = #{record.employeeId,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      birthday = #{record.birthday,jdbcType=VARCHAR},
      insurance_type = #{record.insuranceType,jdbcType=CHAR},
      insurance_time = #{record.insuranceTime,jdbcType=VARCHAR},
      manager = #{record.manager,jdbcType=CHAR},
      working_hours = #{record.workingHours,jdbcType=CHAR},
      labor_protection_time = #{record.laborProtectionTime,jdbcType=VARCHAR},
      occupational_accident_protection_time = #{record.occupationalAccidentProtectionTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentBenefitList" >
    update advancedAgeRetirementReemploymentBenefitList
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="employeeId != null" >
        employee_id = #{employeeId,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=VARCHAR},
      </if>
      <if test="insuranceType != null" >
        insurance_type = #{insuranceType,jdbcType=CHAR},
      </if>
      <if test="insuranceTime != null" >
        insurance_time = #{insuranceTime,jdbcType=VARCHAR},
      </if>
      <if test="manager != null" >
        manager = #{manager,jdbcType=CHAR},
      </if>
      <if test="workingHours != null" >
        working_hours = #{workingHours,jdbcType=CHAR},
      </if>
      <if test="laborProtectionTime != null" >
        labor_protection_time = #{laborProtectionTime,jdbcType=VARCHAR},
      </if>
      <if test="occupationalAccidentProtectionTime != null" >
        occupational_accident_protection_time = #{occupationalAccidentProtectionTime,jdbcType=VARCHAR},
      </if>
    </set>
    where identification = #{identification,jdbcType=VARCHAR}
      and advanced_age_retirement_reemployment_plan_id = #{advancedAgeRetirementReemploymentPlanId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springboot.entity.AdvancedAgeRetirementReemploymentBenefitList" >
    update advancedAgeRetirementReemploymentBenefitList
    set id = #{id,jdbcType=INTEGER},
      employee_id = #{employeeId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=VARCHAR},
      insurance_type = #{insuranceType,jdbcType=CHAR},
      insurance_time = #{insuranceTime,jdbcType=VARCHAR},
      manager = #{manager,jdbcType=CHAR},
      working_hours = #{workingHours,jdbcType=CHAR},
      labor_protection_time = #{laborProtectionTime,jdbcType=VARCHAR},
      occupational_accident_protection_time = #{occupationalAccidentProtectionTime,jdbcType=VARCHAR}
    where identification = #{identification,jdbcType=VARCHAR}
      and advanced_age_retirement_reemployment_plan_id = #{advancedAgeRetirementReemploymentPlanId,jdbcType=INTEGER}
  </update>
</mapper>