<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.springboot.dao.RetirementAdvancedAgeExperienceInheritanceExpenditureMapper" >
  <resultMap id="BaseResultMap" type="com.example.springboot.entity.RetirementAdvancedAgeExperienceInheritanceExpenditure" >
    <id column="plan_name" property="planName" jdbcType="VARCHAR" />
    <id column="retirement_advanced_age_experience_inheritance_apply_id" property="retirementAdvancedAgeExperienceInheritanceApplyId" jdbcType="INTEGER" />
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="plan_id" property="planId" jdbcType="INTEGER" />
    <result column="unit_price" property="unitPrice" jdbcType="INTEGER" />
    <result column="amount" property="amount" jdbcType="INTEGER" />
    <result column="amounts" property="amounts" jdbcType="INTEGER" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="filler" property="filler" jdbcType="VARCHAR" />
    <result column="accountant" property="accountant" jdbcType="VARCHAR" />
    <result column="applicant" property="applicant" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    plan_name, retirement_advanced_age_experience_inheritance_apply_id, id, plan_id, 
    unit_price, amount, amounts, description, filler, accountant, applicant
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.springboot.entity.RetirementAdvancedAgeExperienceInheritanceExpenditureExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from retirementAdvancedAgeExperienceInheritanceExpenditure
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.example.springboot.entity.RetirementAdvancedAgeExperienceInheritanceExpenditureKey" >
    select 
    <include refid="Base_Column_List" />
    from retirementAdvancedAgeExperienceInheritanceExpenditure
    where plan_name = #{planName,jdbcType=VARCHAR}
      and retirement_advanced_age_experience_inheritance_apply_id = #{retirementAdvancedAgeExperienceInheritanceApplyId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.springboot.entity.RetirementAdvancedAgeExperienceInheritanceExpenditureKey" >
    delete from retirementAdvancedAgeExperienceInheritanceExpenditure
    where plan_name = #{planName,jdbcType=VARCHAR}
      and retirement_advanced_age_experience_inheritance_apply_id = #{retirementAdvancedAgeExperienceInheritanceApplyId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.springboot.entity.RetirementAdvancedAgeExperienceInheritanceExpenditureExample" >
    delete from retirementAdvancedAgeExperienceInheritanceExpenditure
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.springboot.entity.RetirementAdvancedAgeExperienceInheritanceExpenditure" >
    insert into retirementAdvancedAgeExperienceInheritanceExpenditure (plan_name, retirement_advanced_age_experience_inheritance_apply_id, 
      id, plan_id, unit_price, 
      amount, amounts, description, 
      filler, accountant, applicant
      )
    values (#{planName,jdbcType=VARCHAR}, #{retirementAdvancedAgeExperienceInheritanceApplyId,jdbcType=INTEGER}, 
      #{id,jdbcType=INTEGER}, #{planId,jdbcType=INTEGER}, #{unitPrice,jdbcType=INTEGER}, 
      #{amount,jdbcType=INTEGER}, #{amounts,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{filler,jdbcType=VARCHAR}, #{accountant,jdbcType=VARCHAR}, #{applicant,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.springboot.entity.RetirementAdvancedAgeExperienceInheritanceExpenditure" >
    insert into retirementAdvancedAgeExperienceInheritanceExpenditure
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="planName != null" >
        plan_name,
      </if>
      <if test="retirementAdvancedAgeExperienceInheritanceApplyId != null" >
        retirement_advanced_age_experience_inheritance_apply_id,
      </if>
      <if test="id != null" >
        id,
      </if>
      <if test="planId != null" >
        plan_id,
      </if>
      <if test="unitPrice != null" >
        unit_price,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="amounts != null" >
        amounts,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="filler != null" >
        filler,
      </if>
      <if test="accountant != null" >
        accountant,
      </if>
      <if test="applicant != null" >
        applicant,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="planName != null" >
        #{planName,jdbcType=VARCHAR},
      </if>
      <if test="retirementAdvancedAgeExperienceInheritanceApplyId != null" >
        #{retirementAdvancedAgeExperienceInheritanceApplyId,jdbcType=INTEGER},
      </if>
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="planId != null" >
        #{planId,jdbcType=INTEGER},
      </if>
      <if test="unitPrice != null" >
        #{unitPrice,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=INTEGER},
      </if>
      <if test="amounts != null" >
        #{amounts,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="filler != null" >
        #{filler,jdbcType=VARCHAR},
      </if>
      <if test="accountant != null" >
        #{accountant,jdbcType=VARCHAR},
      </if>
      <if test="applicant != null" >
        #{applicant,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.springboot.entity.RetirementAdvancedAgeExperienceInheritanceExpenditureExample" resultType="java.lang.Integer" >
    select count(*) from retirementAdvancedAgeExperienceInheritanceExpenditure
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update retirementAdvancedAgeExperienceInheritanceExpenditure
    <set >
      <if test="record.planName != null" >
        plan_name = #{record.planName,jdbcType=VARCHAR},
      </if>
      <if test="record.retirementAdvancedAgeExperienceInheritanceApplyId != null" >
        retirement_advanced_age_experience_inheritance_apply_id = #{record.retirementAdvancedAgeExperienceInheritanceApplyId,jdbcType=INTEGER},
      </if>
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.planId != null" >
        plan_id = #{record.planId,jdbcType=INTEGER},
      </if>
      <if test="record.unitPrice != null" >
        unit_price = #{record.unitPrice,jdbcType=INTEGER},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=INTEGER},
      </if>
      <if test="record.amounts != null" >
        amounts = #{record.amounts,jdbcType=INTEGER},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.filler != null" >
        filler = #{record.filler,jdbcType=VARCHAR},
      </if>
      <if test="record.accountant != null" >
        accountant = #{record.accountant,jdbcType=VARCHAR},
      </if>
      <if test="record.applicant != null" >
        applicant = #{record.applicant,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update retirementAdvancedAgeExperienceInheritanceExpenditure
    set plan_name = #{record.planName,jdbcType=VARCHAR},
      retirement_advanced_age_experience_inheritance_apply_id = #{record.retirementAdvancedAgeExperienceInheritanceApplyId,jdbcType=INTEGER},
      id = #{record.id,jdbcType=INTEGER},
      plan_id = #{record.planId,jdbcType=INTEGER},
      unit_price = #{record.unitPrice,jdbcType=INTEGER},
      amount = #{record.amount,jdbcType=INTEGER},
      amounts = #{record.amounts,jdbcType=INTEGER},
      description = #{record.description,jdbcType=VARCHAR},
      filler = #{record.filler,jdbcType=VARCHAR},
      accountant = #{record.accountant,jdbcType=VARCHAR},
      applicant = #{record.applicant,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.springboot.entity.RetirementAdvancedAgeExperienceInheritanceExpenditure" >
    update retirementAdvancedAgeExperienceInheritanceExpenditure
    <set >
      <if test="id != null" >
        id = #{id,jdbcType=INTEGER},
      </if>
      <if test="planId != null" >
        plan_id = #{planId,jdbcType=INTEGER},
      </if>
      <if test="unitPrice != null" >
        unit_price = #{unitPrice,jdbcType=INTEGER},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=INTEGER},
      </if>
      <if test="amounts != null" >
        amounts = #{amounts,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="filler != null" >
        filler = #{filler,jdbcType=VARCHAR},
      </if>
      <if test="accountant != null" >
        accountant = #{accountant,jdbcType=VARCHAR},
      </if>
      <if test="applicant != null" >
        applicant = #{applicant,jdbcType=VARCHAR},
      </if>
    </set>
    where plan_name = #{planName,jdbcType=VARCHAR}
      and retirement_advanced_age_experience_inheritance_apply_id = #{retirementAdvancedAgeExperienceInheritanceApplyId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.springboot.entity.RetirementAdvancedAgeExperienceInheritanceExpenditure" >
    update retirementAdvancedAgeExperienceInheritanceExpenditure
    set id = #{id,jdbcType=INTEGER},
      plan_id = #{planId,jdbcType=INTEGER},
      unit_price = #{unitPrice,jdbcType=INTEGER},
      amount = #{amount,jdbcType=INTEGER},
      amounts = #{amounts,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      filler = #{filler,jdbcType=VARCHAR},
      accountant = #{accountant,jdbcType=VARCHAR},
      applicant = #{applicant,jdbcType=VARCHAR}
    where plan_name = #{planName,jdbcType=VARCHAR}
      and retirement_advanced_age_experience_inheritance_apply_id = #{retirementAdvancedAgeExperienceInheritanceApplyId,jdbcType=INTEGER}
  </update>
</mapper>